<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Charly Garcia</h1>
    <p>Carlos Alberto García (Buenos Aires, 23 de octubre de 1951), conocido por su nombre artístico Charly García, y también por el menos usado Casandra Lange, es un cantautor, vocalista, multinstrumentista, y productor discográfico argentino.
        Es considerado una de las figuras más importantes e influyentes en la historia de la música popular argentina y latinoaméricana.
        Siendo un adolescente, García fue uno de los fundadores de Sui Generis, una banda de folk rock, en el final de los años '60, donde publicarían tres exitosos álbumes de estudio cuyas canciones se transformaron en himnos para generaciones de argentinos.
        Luego de la separación del grupo en 1975, García tocaría en el único álbum del supergrupo PorSuiGieco, junto a Nito Mestre y otros músicos ya consagrados como León Gieco, su en ese entonces pareja, María Rosa Yorio, y Raúl Porchetto.
        Entre 1976 y 1977, formó parte de la banda de rock progresivo, La Máquina de Hacer Pájaros, considerada una de las bandas más importantes del rock progresivo latinoamericano.
        Más tarde, entre 1978 y 1982 formó parte de la superbanda de rock Serú Girán, uno de los grupos más importantes y revolucionarios durante el período de la dictadura militar argentina, donde compusieron temas desafiantes como Canción de Alicia en el País.
        Luego de componer la banda sonora de la película Pubis Angelical, y a la vez su propio disco, Yendo de la cama al living (1982), que le traerían excelentes críticas, García se embarcaría en una prolífica carrera como solista, 
        donde compondría varias canciones generacionales de la música latina, a la par que buscaría expandir las barreras de la música pop, junto a su rol como músico.
        Su álbum Clics modernos (1983) fue considerado por la revista Rolling Stone como el segundo mejor de la historia del rock argentino.</p>
        <img src="/foto.jpg" alt="">
</body>
</html>